<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include(body, { message: message }) %>
    <script src="/javascripts/jquery-3.1.1.min.js"></script>
    <script src="/javascripts/partial.js"></script>
    <script src="/javascripts/action.js"></script>
  </body>
</html>
