<h1>Main Page</h1>

<div>
  <h2>환영합니다. <%= user.name %>님</h2>
</div>

<div>
  <form action="/apis/signout" method="post">
    <button type="submit">로그아웃</button>
  </form>
  <!--<button formaction="/apis/signout" formmethod="post">로그아웃</button>-->
</div>