<h1>Login Page</h1>

<div>
  <h2>로그인 하기</h2>
  <form action="/apis/signin" method="POST">
    <label for="email">이메일</label>
    <input type="email" name="email">
    <label for="password">비밀번호</label>
    <input type="password" name="password">
    <button type="submit">로그인</button>
  </form>
</div>

<div>
  <h2>회원가입 하기</h2>
  <form action="/apis/signup" method="POST">
    <label for="name">이름</label>
    <input type="text" name="name" required>
    <label for="email">이메일</label>
    <input type="email" name="email" required>
    <label for="password">비밀번호</label>
    <input type="password" name="password" required>
    <label for="password">비밀번호 확인</label>
    <input type="password" name="password_confirm" required>
    <button type="submit">회원가입</button>
  </form>
</div>