<div class="welcome_container">
  <div class="welcome_header">
    <h1>TALELINE</h1>
  </div>
  <div class="welcome_body">
    <div class="guide container">

    </div>
    <div class="sign container">
      <div class="sign_wrapper">
        <div class="sign_in">
          <div class="sign_header">
            <h2>SIGN IN</h2>
          </div>
          <form action="/apis/signin" method="post">
            <ul class="form_style">
              <li>
                <input type="email" name="email" placeholder="EMAIL" required>
              </li>
              <li>
                <input type="password" name="password" placeholder="PASSWORD" required>
              </li>
              <li>
                <button type="submit">LET ME IN</button>
              </li>
            </ul>
          </form>
        </div>

        <div class="sign_up" hidden>
          <div class="sign_header">
            <h2>SIGN UP</h2>
          </div>
          <form action="/apis/signup" method="post">
            <ul class="form_style">
              <li>
                <input type="text" name="name" placeholder="USERNAME" required>
              </li>
              <li>
                <input type="email" name="email" placeholder="EMAIL" required>
              </li>
              <li>
                <input type="password" name="password" placeholder="PASSWORD" required>
              </li>
              <li>
                <input type="password" name="password_confirm" placeholder="CONFIRM PASSWORD" required>
              </li>
              <li>
                <button type="submit">LET ME IN</button>
              </li>
            </ul>
          </form>
        </div>
      </div>
      <div class="tab_wrapper">
        <div class="tab sign_in checked">
          <span>SIGN</span><br/>
          <span>IN</span>
        </div>
        <div class="tab sign_up">
          <span>SIGN</span><br/>
          <span>UP</span>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/javascripts/welcome.js"></script>